<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="validate.js"></script>
</head>
<body>

<form id="register" method="post" onsubmit="return validate()">
    <p th:if="${info}" th:text="${info}" id="error"></p>
    <input type="text" placeholder="login" th:field="*{registrationModel.login}" id="login">
    <input type="password" placeholder="haslo" th:field="*{registrationModel.pass}" id="pass">
    <input type="password" placeholder="Powtórz hasło" th:field="*{registrationModel.pass2}" id="pass2">
    <input type="submit" value="zarejestruj">
</form>
</body>
</html>